<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>Your Favorite Movies Reviewed!</h1>
    <p>Max's movie/review.com is a large community where people from all over the world come, to discuss thier favorite, or least favorite flicks. Sign up for free, and start posting your own movies, and movie reviews!</p>
    <p><%= link_to "Sign Up to Write a Review", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>
<% else %> 

  <div class="jumbotron">
    <h1>Welcome back! <% current_user %></h1>
    <p>Max's movie/review.com is a large community where people from all over the world come, to discuss their favorite, or least favorite flicks. Click a movie below, and read what people have to say!</p>

    </div>
<% end %>    

<div class="row2">
  <div class="row">
    <% @movies.each do |movie| %>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <%= link_to (image_tag movie.image.url(:medium), class: 'image'), movie %>
        </div>
      </div>
    <% end %>  
  </div>
</div>


<script>
  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    score: function() {
        return $(this).attr('data-score');
    }

  });
</script>