/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */


@import "bootstrap-sprockets";
@import "bootstrap";

body {
	background: #961211;

}

nav.navbar a:hover{
    border-bottom: 3px solid black;
}

.navbar {

}

h4.navbar-text {
    margin-right: 85px;

}
.row2 {
    background: #6D0A0A;
    border-radius: 10px;
    padding: 15px;

}

img {
    border-radius: 10px;
}

.review_title {
	margin: 0 0 20px 0;
}

.reviews {
	padding: 15px 0;
	border-bottom: 1px solid #EAEAEA;
	.star-rating {
		padding-bottom: 8px;
	}
}

.panel-body {
	padding: 30px;
	background: #FDFDFD
}

.navbar.navbar-default {
	background: #DADADA;
    margin-bottom: 0;
}

.thumbnail {
	background: rgba(0, 0, 0, 0.31);
	border: none;
    border-radius: 10px;
}

.swag {
    background: #A59B9B;
    padding: 25px;
    border-radius: 9px;

    }

.swag textarea {
	height: 200px;
    width: 80%;
    padding: 15px;
    border-radius: 5px;
    margin: 10px;
}
.swag input {
	width: 50%;
	padding: 5px 10px;
	border-radius: 4px;
	margin: 10px;
}

.swag2 {
    background: #A59B9B;
    padding: 8px 20px;
    width: 19%;
    height: 55px;
    border-radius: 9px;
    button {
    	width: 180px;
    	height: 40px;
        background-color: #501B1A
    }
    a {
    	width: 200px;
    	color: white;
    	font-weight: 600px;
        letter-spacing: 3px;
    }
}

a.navbar-brand{
    font-size: 22px;
}

.swag-container{
    background: white;

}

