<div class="navbar navbar-default navbar-bottom">
	<div class="container">
		<div class="row">

	<h4 class="navbar-text"> About Us </h4>
	<h4 class="navbar-text"> Recent Review </h4>

	<h4 class="navbar-text"> Help Center</h4>
	<h4 class="navbar-text"> Join Us </h4>
	<h4 class="navbar-text"> Social Media</h4>
		</div>
	</div>
</div>